/*css file*/
.image{
    width: 200px;
    height: 200px;
}

.container::after, .row::after{
    content: "";
    clear: both;
    display: table;
}
/*box that contains headshots and info*/
.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 4px 4px;
}
.container {
    padding: 0 16px;
}
.column{
    float: left;
    width: 15%;
    margin-bottom: 16px;
    padding: 0 8px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.row{
    display: flex;
    justify-content: center;
}
.text{
    font-family: 'Times New Roman', Times, serif
}

